In [1]:
import pandas as pd

In [6]:
anuja_lab = pd.read_csv('labeled_anuja.csv') #960
sai_lab = pd.read_csv('sais_labeled.csv') #960

In [7]:
#load in training data
training_data= pd.read_csv('training_data.csv')
training_data

,status,title,company,location,date,blurb,tags,link,id,provider,query,locale,wage,remoteness,state_zip,state,city
0,NEW,"Software Development Engineer, Cloud/Data, eer...",Amazon.com Services LLC,"San Francisco, CA",2024-10-03,3+ years of non-internship professional softwa...,Job types: Full-time\r\nJob types cc: Full-time,https://www.indeed.com/m/viewjob?jk=a713683b67...,IndeedScraperUSAEng_a713683b674d4a9c,IndeedScraperUSAEng,Data,USA_ENGLISH,$129300 - $223600 yearly,UNKNOWN,CA,CA,San Francisco
1,NEW,AI & GenAI Data Scientist-Senior Associate,PRICE WATERHOUSE COOPERS,"Raleigh, NC 27609",2024-11-09,Directing data engineers and other data scient...,"Benefits: Paid holidays, Health insurance, Den...",https://www.indeed.com/m/viewjob?jk=9b58aa063f...,IndeedScraperUSAEng_9b58aa063f997294,IndeedScraperUSAEng,Data,USA_ENGLISH,$84000 - $202000 yearly,UNKNOWN,NC 27609,NC,Raleigh
2,NEW,Data Processing Unit Tooling Engineer,Microsoft,"Santa Clara, CA 95050",2024-10-13,The Data Processing Unit (DPU) team brings tog...,Job types: Full-time\r\nJob types cc: Full-time,https://www.indeed.com/m/viewjob?jk=8d50b26817...,IndeedScraperUSAEng_8d50b26817402748,IndeedScraperUSAEng,Data,USA_ENGLISH,$137600 - $294000 yearly,UNKNOWN,CA 95050,CA,Santa Clara
3,NEW,Loan IQ - Business Analyst,Infosys,"Dallas, TX 75201",2024-11-15,Expertise in underlying Misys Loan IQ data mod...,NaN,https://www.indeed.com/m/viewjob?jk=18bcd4a0d5...,IndeedScraperUSAEng_18bcd4a0d54a1d9d,IndeedScraperUSAEng,Data,USA_ENGLISH,NaN,UNKNOWN,TX 75201,TX,Dallas
4,NEW,Data Center Sales Manager,Kevin Edward Consultancy Limited,United States,2024-10-08,Data Center Sales Manager - HVAC Location: Nat...,Job types: Full-time\r\nBenefits: Health insur...,https://www.indeed.com/m/viewjob?jk=5a5c7de1d8...,IndeedScraperUSAEng_5a5c7de1d801b04b,IndeedScraperUSAEng,Data,USA_ENGLISH,$120000 - $150000 yearly,UNKNOWN,NaN,NaN,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,NEW,Clinical Data Coordinator,CEDENT,"Dallas, TX",2024-10-08,Assist in the preparation and maintenance of d...,Job types: Contract\r\nJob types cc: Contract,https://www.indeed.com/m/viewjob?jk=1cab597aa0...,IndeedScraperUSAEng_1cab597aa0503597,IndeedScraperUSAEng,Data,USA_ENGLISH,NaN,UNKNOWN,TX,TX,Dallas
5996,NEW,Data Validation Chemist /Analytical Subcontrac...,Techlaw Consultants Inc And Subsidiaries,"Edison, NJ 08837",2024-10-03,Perform critical review of laboratory analytic...,Job types: Full-time\r\nBenefits: Health insur...,https://www.indeed.com/m/viewjob?jk=c08ed949f8...,IndeedScraperUSAEng_c08ed949f8cd0862,IndeedScraperUSAEng,Data,USA_ENGLISH,$75000 - $85000 yearly,UNKNOWN,NJ 08837,NJ,Edison
5997,NEW,"Data, Quality, and Support Specialist - HIV Su...",Community Health Action of Staten Island,"Staten Island, NY 10301",2024-10-04,Verify data for completeness and accuracy. Rev...,Job types: Full-time\r\nBenefits: Paid holiday...,https://www.indeed.com/m/viewjob?jk=92204821f3...,IndeedScraperUSAEng_92204821f37fb742,IndeedScraperUSAEng,Data,USA_ENGLISH,$41600 - $46600 yearly,UNKNOWN,NY 10301,NY,Staten Island
5998,NEW,"Database Administrator, Technical Lead",Freddie Mac,"Dallas, TX 75201",2024-10-03,Able to zero down on root cause with supportin...,Job types: Full-time\r\nJob types cc: Full-tim...,https://www.indeed.com/m/viewjob?jk=174de3fc3e...,IndeedScraperUSAEng_174de3fc3ec77ebc,IndeedScraperUSAEng,Data,USA_ENGLISH,$129000 - $193000 yearly,UNKNOWN,TX 75201,TX,Dallas
5999,NEW,"Applied Scientist, Ops Tech Solutions",Amazon.com Services LLC,"Dallas, TX",2024-10-03,Experience in any of the following areas: algo...,Job types: Full-time\r\nJob types cc: Full-time,https://www.indeed.com/m/viewjob?jk=ef7822e4fe...,IndeedScraperUSAEng_ef7822e4fe199d04,IndeedScraperUSAEng,Data,USA_ENGLISH,NaN,UNKNOWN,TX,TX,Dallas

In [10]:
# Define keywords for job levels
entry_keywords = [' i ','staff', 'dba', 'junior', 'assistant', 'entry', 'graduate', 'intern', 'trainee', 'aide','collector','technician' ]
mid_keywords = [' ii','mid', 'associate', 'specialist', 'coordinator', 'analyst', 'engineer', 'developer']
senior_keywords = ['mentor', 'supervisor', 'sr. ','head ','sr ', 'president', ' iii','senior', 'lead', 'manager', 'director', 'principal', 'executive', 'chief']

# Function to label job levels based on the title and blurb
def label_job_level(row):
    title = str(row['title']).lower()
    blurb = str(row['blurb']).lower()

    if any(keyword in title or keyword in blurb for keyword in senior_keywords):
        return 'Senior-Level'
    elif any(keyword in title or keyword in blurb for keyword in mid_keywords):
        return 'Mid-Level'
    elif any(keyword in title or keyword in blurb for keyword in entry_keywords):
        return 'Entry-Level'
    else:
        return 'Uncategorized'

# Apply the labeling function
training_data['job_level'] = training_data.apply(label_job_level, axis=1)

# Count job levels for an overview
job_level_counts = training_data['job_level'].value_counts()
job_level_counts

job_level
Senior-Level     2604
Mid-Level        2315
Uncategorized     648
Entry-Level       433
Name: count, dtype: int64

In [13]:
#remove the uncategorized values
training_data = training_data[training_data['job_level'] != 'Uncategorized']
training_data.head()

,status,title,company,location,date,blurb,tags,link,id,provider,query,locale,wage,remoteness,state_zip,state,city,job_level
0,NEW,"Software Development Engineer, Cloud/Data, eer...",Amazon.com Services LLC,"San Francisco, CA",2024-10-03,3+ years of non-internship professional softwa...,Job types: Full-time\r\nJob types cc: Full-time,https://www.indeed.com/m/viewjob?jk=a713683b67...,IndeedScraperUSAEng_a713683b674d4a9c,IndeedScraperUSAEng,Data,USA_ENGLISH,$129300 - $223600 yearly,UNKNOWN,CA,CA,San Francisco,Mid-Level
1,NEW,AI & GenAI Data Scientist-Senior Associate,PRICE WATERHOUSE COOPERS,"Raleigh, NC 27609",2024-11-09,Directing data engineers and other data scient...,"Benefits: Paid holidays, Health insurance, Den...",https://www.indeed.com/m/viewjob?jk=9b58aa063f...,IndeedScraperUSAEng_9b58aa063f997294,IndeedScraperUSAEng,Data,USA_ENGLISH,$84000 - $202000 yearly,UNKNOWN,NC 27609,NC,Raleigh,Senior-Level
2,NEW,Data Processing Unit Tooling Engineer,Microsoft,"Santa Clara, CA 95050",2024-10-13,The Data Processing Unit (DPU) team brings tog...,Job types: Full-time\r\nJob types cc: Full-time,https://www.indeed.com/m/viewjob?jk=8d50b26817...,IndeedScraperUSAEng_8d50b26817402748,IndeedScraperUSAEng,Data,USA_ENGLISH,$137600 - $294000 yearly,UNKNOWN,CA 95050,CA,Santa Clara,Mid-Level
3,NEW,Loan IQ - Business Analyst,Infosys,"Dallas, TX 75201",2024-11-15,Expertise in underlying Misys Loan IQ data mod...,NaN,https://www.indeed.com/m/viewjob?jk=18bcd4a0d5...,IndeedScraperUSAEng_18bcd4a0d54a1d9d,IndeedScraperUSAEng,Data,USA_ENGLISH,NaN,UNKNOWN,TX 75201,TX,Dallas,Mid-Level
4,NEW,Data Center Sales Manager,Kevin Edward Consultancy Limited,United States,2024-10-08,Data Center Sales Manager - HVAC Location: Nat...,Job types: Full-time\r\nBenefits: Health insur...,https://www.indeed.com/m/viewjob?jk=5a5c7de1d8...,IndeedScraperUSAEng_5a5c7de1d801b04b,IndeedScraperUSAEng,Data,USA_ENGLISH,$120000 - $150000 yearly,UNKNOWN,NaN,NaN,United States,Senior-Level

In [15]:
uncat = pd.concat([anuja_lab, sai_lab], axis=0)    # concatenating along rows
uncat.head()

,title,company,location,date,blurb,tags,link,id,provider,query,...,state,city,lower_wage,upper_wage,type,converted_yearly_lower,converted_yearly_upper,job_level,Unnamed: 22,status
0,credit strategy data scientist,Bill.com,"San Jose, CA",10/3/2024,Demonstrated history of addressing business ch...,"Benefits: Health savings account, Employee sto...",https://www.indeed.com/m/viewjob?jk=d88ba94179...,IndeedScraperUSAEng_d88ba941796f329e,IndeedScraperUSAEng,Data,...,CA,San Jose,110200.00,132100.0,yearly,110200.00,132100.0,Entry-Level,NaN,NaN
1,database administrator,Om Tek,"Irving, TX 75038",10/5/2024,9am to 6pm; Monday through Friday. JOB DUTIES ...,Job types: Full-time\r\nJob types cc: Full-tim...,https://www.indeed.com/m/viewjob?jk=f2e1c22eab...,IndeedScraperUSAEng_f2e1c22eab5c6a13,IndeedScraperUSAEng,Data,...,TX,Irving,NaN,NaN,NaN,NaN,NaN,Entry-Level,NaN,NaN
2,data scientist,Apple,"Cupertino, CA",11/10/2024,Deep expertise in data and model evaluation. S...,"Benefits: Employee stock purchase plan, Health...",https://www.indeed.com/m/viewjob?jk=b7898ec674...,IndeedScraperUSAEng_b7898ec674cc9781,IndeedScraperUSAEng,Data,...,CA,Cupertino,143100.00,264200.0,yearly,143100.00,264200.0,Entry-Level,NaN,NaN
3,"reporter, data, data journalism team",The New York Times,"New York, NY",10/3/2024,"As a data reporter, you’ll combine traditional...",Job types: Full-time\r\nRemote: Hybrid work\r\...,https://www.indeed.com/m/viewjob?jk=435912f3b9...,IndeedScraperUSAEng_435912f3b9db5520,IndeedScraperUSAEng,Data,...,NY,New York,111049.64,140000.0,yearly,111049.64,140000.0,Entry-Level,NaN,NaN
4,data solution architect,Corpay,"Dallas, TX",11/5/2024,You have experience in enterprise data modelin...,Job types: Full-time\r\nShifts: 8 hour shift\r...,https://www.indeed.com/m/viewjob?jk=750814a003...,IndeedScraperUSAEng_750814a0033da0e7,IndeedScraperUSAEng,Data,...,TX,Dallas,NaN,NaN,NaN,NaN,NaN,Senior-Level,Mid-Level,NaN

In [16]:
#concat the uncat and training
training_final = pd.concat([uncat, training_data], axis=0)    # concatenating along rows
training_final

,title,company,location,date,blurb,tags,link,id,provider,query,...,state,city,lower_wage,upper_wage,type,converted_yearly_lower,converted_yearly_upper,job_level,Unnamed: 22,status
0,credit strategy data scientist,Bill.com,"San Jose, CA",10/3/2024,Demonstrated history of addressing business ch...,"Benefits: Health savings account, Employee sto...",https://www.indeed.com/m/viewjob?jk=d88ba94179...,IndeedScraperUSAEng_d88ba941796f329e,IndeedScraperUSAEng,Data,...,CA,San Jose,110200.00,132100.0,yearly,110200.00,132100.0,Entry-Level,NaN,NaN
1,database administrator,Om Tek,"Irving, TX 75038",10/5/2024,9am to 6pm; Monday through Friday. JOB DUTIES ...,Job types: Full-time\r\nJob types cc: Full-tim...,https://www.indeed.com/m/viewjob?jk=f2e1c22eab...,IndeedScraperUSAEng_f2e1c22eab5c6a13,IndeedScraperUSAEng,Data,...,TX,Irving,NaN,NaN,NaN,NaN,NaN,Entry-Level,NaN,NaN
2,data scientist,Apple,"Cupertino, CA",11/10/2024,Deep expertise in data and model evaluation. S...,"Benefits: Employee stock purchase plan, Health...",https://www.indeed.com/m/viewjob?jk=b7898ec674...,IndeedScraperUSAEng_b7898ec674cc9781,IndeedScraperUSAEng,Data,...,CA,Cupertino,143100.00,264200.0,yearly,143100.00,264200.0,Entry-Level,NaN,NaN
3,"reporter, data, data journalism team",The New York Times,"New York, NY",10/3/2024,"As a data reporter, you’ll combine traditional...",Job types: Full-time\r\nRemote: Hybrid work\r\...,https://www.indeed.com/m/viewjob?jk=435912f3b9...,IndeedScraperUSAEng_435912f3b9db5520,IndeedScraperUSAEng,Data,...,NY,New York,111049.64,140000.0,yearly,111049.64,140000.0,Entry-Level,NaN,NaN
4,data solution architect,Corpay,"Dallas, TX",11/5/2024,You have experience in enterprise data modelin...,Job types: Full-time\r\nShifts: 8 hour shift\r...,https://www.indeed.com/m/viewjob?jk=750814a003...,IndeedScraperUSAEng_750814a0033da0e7,IndeedScraperUSAEng,Data,...,TX,Dallas,NaN,NaN,NaN,NaN,NaN,Senior-Level,Mid-Level,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5993,SR. CLINICAL DATA MANAGER,PVR Technologies,"King of Prussia, PA 19406",2024-10-09,Design clinical trials utilizing CDASH & SDTM ...,Job types: Full-time\r\nJob types cc: Full-tim...,https://www.indeed.com/m/viewjob?jk=e72046d9f2...,IndeedScraperUSAEng_e72046d9f23b404f,IndeedScraperUSAEng,Data,...,PA,King of Prussia,NaN,NaN,NaN,NaN,NaN,Senior-Level,NaN,NEW
5994,"Sales Manager, OEM - Data Partnerships",Similarweb,"New York, NY 10016",2024-10-16,Uncover New Opportunities: Identify untapped u...,"Benefits: Employee stock purchase plan, Health...",https://www.indeed.com/m/viewjob?jk=b269f73b8f...,IndeedScraperUSAEng_b269f73b8facd23c,IndeedScraperUSAEng,Data,...,NY,New York,NaN,NaN,NaN,NaN,NaN,Senior-Level,NaN,NEW
5995,Clinical Data Coordinator,CEDENT,"Dallas, TX",2024-10-08,Assist in the preparation and maintenance of d...,Job types: Contract\r\nJob types cc: Contract,https://www.indeed.com/m/viewjob?jk=1cab597aa0...,IndeedScraperUSAEng_1cab597aa0503597,IndeedScraperUSAEng,Data,...,TX,Dallas,NaN,NaN,NaN,NaN,NaN,Mid-Level,NaN,NEW
5997,"Data, Quality, and Support Specialist - HIV Su...",Community Health Action of Staten Island,"Staten Island, NY 10301",2024-10-04,Verify data for completeness and accuracy. Rev...,Job types: Full-time\r\nBenefits: Paid holiday...,https://www.indeed.com/m/viewjob?jk=92204821f3...,IndeedScraperUSAEng_92204821f37fb742,IndeedScraperUSAEng,Data,...,NY,Staten Island,NaN,NaN,NaN,NaN,NaN,Mid-Level,NaN,NEW
5998,"Database Administrator, Technical Lead",Freddie Mac,"Dallas, TX 75201",2024-10-03,Able to zero down on root cause with supportin...,Job types: Full-time\r\nJob types cc: Full-tim...,https://www.indeed.com/m/viewjob?jk=174de3fc3e...,IndeedScraperUSAEng_174de3fc3ec77ebc,IndeedScraperUSAEng,Data,...,TX,Dallas,NaN,NaN,NaN,NaN,NaN,Senior-Level,NaN,NEW

In [21]:
training_final = training_final.drop(training_final[training_final['id'] == 'IndeedScraperUSAEng_6ae8c8396a3e19fa'].index)
training_final[training_final['job_level'] == 'Uncategorized']

Empty DataFrame
Columns: [title, company, location, date, blurb, tags, link, id, provider, query, locale, wage, remoteness, state_zip, state, city, lower_wage, upper_wage, type, converted_yearly_lower, converted_yearly_upper, job_level, Unnamed: 22, status]
Index: []

[0 rows x 24 columns]

In [25]:
#all jobs cleaned dataframe 
all_jobs = pd.read_csv('all_jobs_cleaned.csv')
all_jobs

,status,title,company,location,date,blurb,tags,link,id,provider,query,locale,wage,remoteness,state_zip,state,city
0,NEW,Direct Data Entry Operator,WESTAMERICA BANK,"Fairfield, CA 94534",2024-10-17,"As a Direct Data Entry Operator, under general...",Job types: Full-time\r\nJob types cc: Full-time,https://www.indeed.com/m/viewjob?jk=9af5925791...,IndeedScraperUSAEng_9af5925791536fd2,IndeedScraperUSAEng,Data,USA_ENGLISH,$16 - $17.07 hourly,UNKNOWN,CA 94534,CA,Fairfield
1,NEW,Cloud Data Architect-Director,CEDENT,"San Francisco, CA",2024-10-03,"Provide data engineers, quant engineers and re...",Job types: Full-time\r\nJob types cc: Full-time,https://www.indeed.com/m/viewjob?jk=66827a8f8e...,IndeedScraperUSAEng_66827a8f8e70c0e9,IndeedScraperUSAEng,Data,USA_ENGLISH,NaN,UNKNOWN,CA,CA,San Francisco
2,NEW,Data Aide 2,Stanford University,"Stanford, CA",2024-10-03,Develop and apply novel clinical data curation...,Job types: Full-time\r\nJob types cc: Full-time,https://www.indeed.com/m/viewjob?jk=db7d847fbf...,IndeedScraperUSAEng_db7d847fbf8a9612,IndeedScraperUSAEng,Data,USA_ENGLISH,$31.21 - $35.6 hourly,UNKNOWN,CA,CA,Stanford
3,NEW,Field Applications Engineer - Data Center,Amphenol TCS,"Santa Clara, CA",2024-10-22,Amphenol High Speed and Commercial Products Gr...,"Benefits: Paid holidays, Disability insurance,...",https://www.indeed.com/m/viewjob?jk=cfb3f4f072...,IndeedScraperUSAEng_cfb3f4f072371529,IndeedScraperUSAEng,Data,USA_ENGLISH,$80750 - $148870 yearly,UNKNOWN,CA,CA,Santa Clara
4,NEW,"Analyst, YouthTruth",CEP Global,"San Francisco, CA",2024-10-03,"Over time, contribute insights to new features...","Benefits: Dental insurance, 401(k), Flexible s...",https://www.indeed.com/m/viewjob?jk=9365df687b...,IndeedScraperUSAEng_9365df687b5694e9,IndeedScraperUSAEng,Data,USA_ENGLISH,$90756 - $90756 yearly,UNKNOWN,CA,CA,San Francisco
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9364,NEW,Tableau Developer,"Contact Government Services, LLC","Winston-Salem, NC",2024-10-21,Proficiency with managing complex data from mu...,Job types: Full-time\r\nRemote: Hybrid work\r\...,https://www.indeed.com/m/viewjob?jk=10482a194b...,IndeedScraperUSAEng_10482a194bb07500,IndeedScraperUSAEng,Data,USA_ENGLISH,$106773.33 - $137280 yearly,TEMPORARILY_REMOTE,NC,NC,Winston-Salem
9365,NEW,Deputy Chief Data Officer,State of North Carolina,"Raleigh, NC 27603",2024-11-16,This position will work cross-functionally acr...,Job types: Full-time\r\nRemote: Hybrid work\r\...,https://www.indeed.com/m/viewjob?jk=5c0c6a2416...,IndeedScraperUSAEng_5c0c6a24160352d3,IndeedScraperUSAEng,Data,USA_ENGLISH,$112683 - $197196 yearly,TEMPORARILY_REMOTE,NC 27603,NC,Raleigh
9366,NEW,Data & AI – Sales Director –Financial Services...,Accenture,"Raleigh, NC 27609",2024-11-20,We Are: The beginning of a new Data & AI decad...,Job types: Full-time\r\nRemote: Hybrid work\r\...,https://www.indeed.com/m/viewjob?jk=e22d264ced...,IndeedScraperUSAEng_e22d264ced170d0a,IndeedScraperUSAEng,Data,USA_ENGLISH,NaN,TEMPORARILY_REMOTE,NC 27609,NC,Raleigh
9367,NEW,Strategy Data & AI Senior Manager,Accenture,"Raleigh, NC 27609",2024-11-20,Accenture is a leading global professional ser...,Job types: Full-time\r\nJob types cc: Full-time,https://www.indeed.com/m/viewjob?jk=4af6f30dac...,IndeedScraperUSAEng_4af6f30dac06d09b,IndeedScraperUSAEng,Data,USA_ENGLISH,NaN,UNKNOWN,NC 27609,NC,Raleigh
9368,NEW,Senior Lead Cloud Database Architect (MSSQL Fo...,Cox Communications,"Raleigh, NC 27601",2024-11-20,"At RapidScale , exceptional technology is powe...",Job types: Full-time\r\nRemote: Remote\r\nBene...,https://www.indeed.com/m/viewjob?jk=77f9264bd6...,IndeedScraperUSAEng_77f9264bd69c8b41,IndeedScraperUSAEng,Data,USA_ENGLISH,$142100 - $236800 yearly,FULLY_REMOTE,NC 27601,NC,Raleigh

In [36]:
#create testing dataframe 9369-6039
mask = all_jobs['id'].isin(training_final['id'])
#mask

# # Use the mask to filter df1, keeping only the rows where the mask is False
test = all_jobs[~mask]

test

,status,title,company,location,date,blurb,tags,link,id,provider,query,locale,wage,remoteness,state_zip,state,city
1,NEW,Cloud Data Architect-Director,CEDENT,"San Francisco, CA",2024-10-03,"Provide data engineers, quant engineers and re...",Job types: Full-time\r\nJob types cc: Full-time,https://www.indeed.com/m/viewjob?jk=66827a8f8e...,IndeedScraperUSAEng_66827a8f8e70c0e9,IndeedScraperUSAEng,Data,USA_ENGLISH,NaN,UNKNOWN,CA,CA,San Francisco
2,NEW,Data Aide 2,Stanford University,"Stanford, CA",2024-10-03,Develop and apply novel clinical data curation...,Job types: Full-time\r\nJob types cc: Full-time,https://www.indeed.com/m/viewjob?jk=db7d847fbf...,IndeedScraperUSAEng_db7d847fbf8a9612,IndeedScraperUSAEng,Data,USA_ENGLISH,$31.21 - $35.6 hourly,UNKNOWN,CA,CA,Stanford
4,NEW,"Analyst, YouthTruth",CEP Global,"San Francisco, CA",2024-10-03,"Over time, contribute insights to new features...","Benefits: Dental insurance, 401(k), Flexible s...",https://www.indeed.com/m/viewjob?jk=9365df687b...,IndeedScraperUSAEng_9365df687b5694e9,IndeedScraperUSAEng,Data,USA_ENGLISH,$90756 - $90756 yearly,UNKNOWN,CA,CA,San Francisco
5,NEW,"Applied Scientist, Frontier AI & Robotics",Amazon.com Services LLC,"San Francisco, CA",2024-10-24,"PhD in engineering, technology, computer scien...",Job types: Full-time\r\nBenefits: Health insur...,https://www.indeed.com/m/viewjob?jk=b406677342...,IndeedScraperUSAEng_b406677342fbc627,IndeedScraperUSAEng,Data,USA_ENGLISH,$136000 - $222200 yearly,UNKNOWN,CA,CA,San Francisco
7,NEW,Data Collector,SAS Retail Services,"Santa Rosa, CA 95409",2024-11-01,"We display it, we move it, we track it; making...",Job types: Part-time\r\nBenefits: Health insur...,https://www.indeed.com/m/viewjob?jk=acb9d5ed39...,IndeedScraperUSAEng_acb9d5ed39e715a9,IndeedScraperUSAEng,Data,USA_ENGLISH,$20 - $20 hourly,UNKNOWN,CA 95409,CA,Santa Rosa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9356,NEW,Field Representative - Part Time,RetailData LLC,"Chapel Hill, NC",2024-11-19,On the agreed schedule that you set in partner...,Job types: Part-time\r\nBenefits: Mileage reim...,https://www.indeed.com/m/viewjob?jk=d708cfd448...,IndeedScraperUSAEng_d708cfd448461fb1,IndeedScraperUSAEng,Data,USA_ENGLISH,NaN,UNKNOWN,NC,NC,Chapel Hill
9357,NEW,Strategy Data & AI Manager,Accenture,"Raleigh, NC 27609",2024-11-20,Assess maturity of an organization’s data and ...,Job types: Full-time\r\nJob types cc: Full-time,https://www.indeed.com/m/viewjob?jk=4b929987e0...,IndeedScraperUSAEng_4b929987e09b94ea,IndeedScraperUSAEng,Data,USA_ENGLISH,NaN,UNKNOWN,NC 27609,NC,Raleigh
9359,NEW,Commercial Electricians Needed - Traveling Pre...,"North East Tele Data Services, LLC","Raleigh, NC",2024-11-16,In search of commercial electricians to join o...,Job types: Contract\r\nShifts: 8 hour shift\r\...,https://www.indeed.com/m/viewjob?jk=cd5893671f...,IndeedScraperUSAEng_cd5893671fe09d7f,IndeedScraperUSAEng,Data,USA_ENGLISH,$25 - $45 hourly,UNKNOWN,NC,NC,Raleigh
9363,NEW,HIEA Data Quality Analyst (Flexible/Hybrid),State of North Carolina,"Raleigh, NC 27603",2024-11-14,Is utilized for moving health information and ...,Job types: Full-time\r\nRemote: Hybrid work\r\...,https://www.indeed.com/m/viewjob?jk=090bd6209f...,IndeedScraperUSAEng_090bd6209f64d335,IndeedScraperUSAEng,Data,USA_ENGLISH,$81500 - $122250 yearly,TEMPORARILY_REMOTE,NC 27603,NC,Raleigh
9366,NEW,Data & AI – Sales Director –Financial Services...,Accenture,"Raleigh, NC 27609",2024-11-20,We Are: The beginning of a new Data & AI decad...,Job types: Full-time\r\nRemote: Hybrid work\r\...,https://www.indeed.com/m/viewjob?jk=e22d264ced...,IndeedScraperUSAEng_e22d264ced170d0a,IndeedScraperUSAEng,Data,USA_ENGLISH,NaN,TEMPORARILY_REMOTE,NC 27609,NC,Raleigh

In [37]:
test.to_csv("testing_data.csv", index=False)

In [42]:
training_final

,title,company,location,date,blurb,tags,link,id,provider,query,...,state,city,lower_wage,upper_wage,type,converted_yearly_lower,converted_yearly_upper,job_level,Unnamed: 22,status
0,credit strategy data scientist,Bill.com,"San Jose, CA",10/3/2024,Demonstrated history of addressing business ch...,"Benefits: Health savings account, Employee sto...",https://www.indeed.com/m/viewjob?jk=d88ba94179...,IndeedScraperUSAEng_d88ba941796f329e,IndeedScraperUSAEng,Data,...,CA,San Jose,110200.00,132100.0,yearly,110200.00,132100.0,Entry-Level,NaN,NaN
1,database administrator,Om Tek,"Irving, TX 75038",10/5/2024,9am to 6pm; Monday through Friday. JOB DUTIES ...,Job types: Full-time\r\nJob types cc: Full-tim...,https://www.indeed.com/m/viewjob?jk=f2e1c22eab...,IndeedScraperUSAEng_f2e1c22eab5c6a13,IndeedScraperUSAEng,Data,...,TX,Irving,NaN,NaN,NaN,NaN,NaN,Entry-Level,NaN,NaN
2,data scientist,Apple,"Cupertino, CA",11/10/2024,Deep expertise in data and model evaluation. S...,"Benefits: Employee stock purchase plan, Health...",https://www.indeed.com/m/viewjob?jk=b7898ec674...,IndeedScraperUSAEng_b7898ec674cc9781,IndeedScraperUSAEng,Data,...,CA,Cupertino,143100.00,264200.0,yearly,143100.00,264200.0,Entry-Level,NaN,NaN
3,"reporter, data, data journalism team",The New York Times,"New York, NY",10/3/2024,"As a data reporter, you’ll combine traditional...",Job types: Full-time\r\nRemote: Hybrid work\r\...,https://www.indeed.com/m/viewjob?jk=435912f3b9...,IndeedScraperUSAEng_435912f3b9db5520,IndeedScraperUSAEng,Data,...,NY,New York,111049.64,140000.0,yearly,111049.64,140000.0,Entry-Level,NaN,NaN
4,data solution architect,Corpay,"Dallas, TX",11/5/2024,You have experience in enterprise data modelin...,Job types: Full-time\r\nShifts: 8 hour shift\r...,https://www.indeed.com/m/viewjob?jk=750814a003...,IndeedScraperUSAEng_750814a0033da0e7,IndeedScraperUSAEng,Data,...,TX,Dallas,NaN,NaN,NaN,NaN,NaN,Senior-Level,Mid-Level,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5993,SR. CLINICAL DATA MANAGER,PVR Technologies,"King of Prussia, PA 19406",2024-10-09,Design clinical trials utilizing CDASH & SDTM ...,Job types: Full-time\r\nJob types cc: Full-tim...,https://www.indeed.com/m/viewjob?jk=e72046d9f2...,IndeedScraperUSAEng_e72046d9f23b404f,IndeedScraperUSAEng,Data,...,PA,King of Prussia,NaN,NaN,NaN,NaN,NaN,Senior-Level,NaN,NEW
5994,"Sales Manager, OEM - Data Partnerships",Similarweb,"New York, NY 10016",2024-10-16,Uncover New Opportunities: Identify untapped u...,"Benefits: Employee stock purchase plan, Health...",https://www.indeed.com/m/viewjob?jk=b269f73b8f...,IndeedScraperUSAEng_b269f73b8facd23c,IndeedScraperUSAEng,Data,...,NY,New York,NaN,NaN,NaN,NaN,NaN,Senior-Level,NaN,NEW
5995,Clinical Data Coordinator,CEDENT,"Dallas, TX",2024-10-08,Assist in the preparation and maintenance of d...,Job types: Contract\r\nJob types cc: Contract,https://www.indeed.com/m/viewjob?jk=1cab597aa0...,IndeedScraperUSAEng_1cab597aa0503597,IndeedScraperUSAEng,Data,...,TX,Dallas,NaN,NaN,NaN,NaN,NaN,Mid-Level,NaN,NEW
5997,"Data, Quality, and Support Specialist - HIV Su...",Community Health Action of Staten Island,"Staten Island, NY 10301",2024-10-04,Verify data for completeness and accuracy. Rev...,Job types: Full-time\r\nBenefits: Paid holiday...,https://www.indeed.com/m/viewjob?jk=92204821f3...,IndeedScraperUSAEng_92204821f37fb742,IndeedScraperUSAEng,Data,...,NY,Staten Island,NaN,NaN,NaN,NaN,NaN,Mid-Level,NaN,NEW
5998,"Database Administrator, Technical Lead",Freddie Mac,"Dallas, TX 75201",2024-10-03,Able to zero down on root cause with supportin...,Job types: Full-time\r\nJob types cc: Full-tim...,https://www.indeed.com/m/viewjob?jk=174de3fc3e...,IndeedScraperUSAEng_174de3fc3ec77ebc,IndeedScraperUSAEng,Data,...,TX,Dallas,NaN,NaN,NaN,NaN,NaN,Senior-Level,NaN,NEW

In [43]:
training_final.columns

Index(['title', 'company', 'location', 'date', 'blurb', 'tags', 'link', 'id',
       'provider', 'query', 'locale', 'wage', 'remoteness', 'state_zip',
       'state', 'city', 'lower_wage', 'upper_wage', 'type',
       'converted_yearly_lower', 'converted_yearly_upper', 'job_level',
       'Unnamed: 22', 'status'],
      dtype='object')

In [50]:
X = training_final[['title', 
                    'company', 
                    'date', 
                    'blurb', 
                    'tags', 
                    'remoteness',
                    'state', 
                    'city',
                    'type',
                    'converted_yearly_lower', 
                    'converted_yearly_upper']]

In [51]:
y = training_final[['job_level']]

In [52]:
#logistic regression model 
from sklearn import linear_model
model = linear_model.LogisticRegression()
model.fit(X,y)

ValueError: could not convert string to float: 'credit strategy data scientist'