##### Clean up Wage column

In [217]:
import pandas as pd
manual_labeling_anuja = pd.read_csv('crowdsource_anuja.csv')
manual_labeling_anuja['title'] = manual_labeling_anuja['title'].str.lower()
manual_labeling_anuja['wage'] = manual_labeling_anuja['wage'].str.strip()

In [146]:
#manual_labeling_anuja.head()

In [218]:
manual_labeling_anuja[['lower_wage', 'upper_wage', 'other']] = manual_labeling_anuja['wage'].str.split('-', expand=True)

In [219]:
manual_labeling_anuja.head()

,status,title,company,location,date,blurb,tags,link,id,provider,...,locale,wage,remoteness,state_zip,state,city,job_level,lower_wage,upper_wage,other
0,NEW,credit strategy data scientist,Bill.com,"San Jose, CA",2024-10-03,Demonstrated history of addressing business ch...,"Benefits: Health savings account, Employee sto...",https://www.indeed.com/m/viewjob?jk=d88ba94179...,IndeedScraperUSAEng_d88ba941796f329e,IndeedScraperUSAEng,...,USA_ENGLISH,$110200 - $132100 yearly,UNKNOWN,CA,CA,San Jose,Uncategorized,$110200,$132100 yearly,None
1,NEW,database administrator,Om Tek,"Irving, TX 75038",2024-10-05,9am to 6pm; Monday through Friday. JOB DUTIES ...,Job types: Full-time\r\nJob types cc: Full-tim...,https://www.indeed.com/m/viewjob?jk=f2e1c22eab...,IndeedScraperUSAEng_f2e1c22eab5c6a13,IndeedScraperUSAEng,...,USA_ENGLISH,NaN,UNKNOWN,TX 75038,TX,Irving,Uncategorized,NaN,NaN,NaN
2,NEW,data scientist,Apple,"Cupertino, CA",2024-11-10,Deep expertise in data and model evaluation. S...,"Benefits: Employee stock purchase plan, Health...",https://www.indeed.com/m/viewjob?jk=b7898ec674...,IndeedScraperUSAEng_b7898ec674cc9781,IndeedScraperUSAEng,...,USA_ENGLISH,$143100 - $264200 yearly,UNKNOWN,CA,CA,Cupertino,Uncategorized,$143100,$264200 yearly,None
3,NEW,"reporter, data, data journalism team",The New York Times,"New York, NY",2024-10-03,"As a data reporter, you’ll combine traditional...",Job types: Full-time\r\nRemote: Hybrid work\r\...,https://www.indeed.com/m/viewjob?jk=435912f3b9...,IndeedScraperUSAEng_435912f3b9db5520,IndeedScraperUSAEng,...,USA_ENGLISH,$111049.64 - $140000 yearly,TEMPORARILY_REMOTE,NY,NY,New York,Uncategorized,$111049.64,$140000 yearly,None
4,NEW,data solution architect,Corpay,"Dallas, TX",2024-11-05,You have experience in enterprise data modelin...,Job types: Full-time\r\nShifts: 8 hour shift\r...,https://www.indeed.com/m/viewjob?jk=750814a003...,IndeedScraperUSAEng_750814a0033da0e7,IndeedScraperUSAEng,...,USA_ENGLISH,NaN,FULLY_REMOTE,TX,TX,Dallas,Uncategorized,NaN,NaN,NaN

In [220]:
manual_labeling_anuja[['drop', 'upper_wage', 'type']] = manual_labeling_anuja['upper_wage'].str.split(' ', expand=True)

In [221]:
manual_labeling_anuja.drop('drop', axis=1, inplace=True)

In [222]:
manual_labeling_anuja['other'].value_counts()

other
1 hourly    4
1 yearly    1
Name: count, dtype: int64

In [223]:
manual_labeling_anuja.loc[manual_labeling_anuja['other'] == '1 hourly']

,status,title,company,location,date,blurb,tags,link,id,provider,...,wage,remoteness,state_zip,state,city,job_level,lower_wage,upper_wage,other,type
177,NEW,experienced data cable installer,Eric Green Communications Inc.,"Milpitas, CA",2024-10-05,About us Our company is a small business in Di...,"Job types: Contract\r\nShifts: 8 hour shift, D...",https://www.indeed.com/m/viewjob?jk=ad71271b17...,IndeedScraperUSAEng_ad71271b1799a850,IndeedScraperUSAEng,...,$25 - $-1 hourly,UNKNOWN,CA,CA,Milpitas,Uncategorized,$25,$,1 hourly,None
204,NEW,data scientist - ai trainer,DataAnnotation,"Frisco, TX",2024-10-31,You will work with the chatbots that we are bu...,Job types: Contract\r\nRemote: Remote\r\nBenef...,https://www.indeed.com/m/viewjob?jk=85d35bca8e...,IndeedScraperUSAEng_85d35bca8e3dc6d5,IndeedScraperUSAEng,...,$40 - $-1 hourly,FULLY_REMOTE,TX,TX,Frisco,Uncategorized,$40,$,1 hourly,None
297,NEW,ai trainer - mathematics,DataAnnotation,"Dallas-Fort Worth, TX",2024-10-06,You will measure the progress of these AI chat...,"Job types: Part-time, Full-time\r\nRemote: Rem...",https://www.indeed.com/m/viewjob?jk=aab6097c2a...,IndeedScraperUSAEng_aab6097c2a02a83c,IndeedScraperUSAEng,...,$40 - $-1 hourly,FULLY_REMOTE,TX,TX,Dallas-Fort Worth,Uncategorized,$40,$,1 hourly,None
312,NEW,ai trainer - mathematics,DataAnnotation,"Durham, NC",2024-10-07,You will measure the progress of these AI chat...,"Job types: Part-time, Full-time\r\nRemote: Rem...",https://www.indeed.com/m/viewjob?jk=41752ccf8b...,IndeedScraperUSAEng_41752ccf8bb3dff9,IndeedScraperUSAEng,...,$40 - $-1 hourly,FULLY_REMOTE,NC,NC,Durham,Uncategorized,$40,$,1 hourly,None

In [224]:
manual_labeling_anuja.loc[manual_labeling_anuja['other'] == '1 yearly']

,status,title,company,location,date,blurb,tags,link,id,provider,...,wage,remoteness,state_zip,state,city,job_level,lower_wage,upper_wage,other,type
35,NEW,scientific programmer,Business Integra Inc,"New York, NY 10025",2024-11-06,Fitting and analysis of data-driven models usi...,"Job types: Full-time, Contract\r\nRemote: Hybr...",https://www.indeed.com/m/viewjob?jk=c429e767d6...,IndeedScraperUSAEng_c429e767d6f58d01,IndeedScraperUSAEng,...,$80000 - $-1 yearly,TEMPORARILY_REMOTE,NY 10025,NY,New York,Uncategorized,$80000,$,1 yearly,None

In [225]:
manual_labeling_anuja.loc[manual_labeling_anuja['id'] == 'IndeedScraperUSAEng_ad71271b1799a850', 'type'] = 'hourly'
manual_labeling_anuja.loc[manual_labeling_anuja['id'] == 'IndeedScraperUSAEng_85d35bca8e3dc6d5', 'type'] = 'hourly'
manual_labeling_anuja.loc[manual_labeling_anuja['id'] == 'IndeedScraperUSAEng_aab6097c2a02a83c', 'type'] = 'hourly'
manual_labeling_anuja.loc[manual_labeling_anuja['id'] == 'IndeedScraperUSAEng_41752ccf8bb3dff9', 'type'] = 'hourly'
manual_labeling_anuja.loc[manual_labeling_anuja['id'] == 'IndeedScraperUSAEng_c429e767d6f58d01', 'type'] = 'yearly'

In [226]:
manual_labeling_anuja.drop('other', axis=1, inplace=True)

In [227]:
manual_labeling_anuja

,status,title,company,location,date,blurb,tags,link,id,provider,...,locale,wage,remoteness,state_zip,state,city,job_level,lower_wage,upper_wage,type
0,NEW,credit strategy data scientist,Bill.com,"San Jose, CA",2024-10-03,Demonstrated history of addressing business ch...,"Benefits: Health savings account, Employee sto...",https://www.indeed.com/m/viewjob?jk=d88ba94179...,IndeedScraperUSAEng_d88ba941796f329e,IndeedScraperUSAEng,...,USA_ENGLISH,$110200 - $132100 yearly,UNKNOWN,CA,CA,San Jose,Uncategorized,$110200,$132100,yearly
1,NEW,database administrator,Om Tek,"Irving, TX 75038",2024-10-05,9am to 6pm; Monday through Friday. JOB DUTIES ...,Job types: Full-time\r\nJob types cc: Full-tim...,https://www.indeed.com/m/viewjob?jk=f2e1c22eab...,IndeedScraperUSAEng_f2e1c22eab5c6a13,IndeedScraperUSAEng,...,USA_ENGLISH,NaN,UNKNOWN,TX 75038,TX,Irving,Uncategorized,NaN,NaN,NaN
2,NEW,data scientist,Apple,"Cupertino, CA",2024-11-10,Deep expertise in data and model evaluation. S...,"Benefits: Employee stock purchase plan, Health...",https://www.indeed.com/m/viewjob?jk=b7898ec674...,IndeedScraperUSAEng_b7898ec674cc9781,IndeedScraperUSAEng,...,USA_ENGLISH,$143100 - $264200 yearly,UNKNOWN,CA,CA,Cupertino,Uncategorized,$143100,$264200,yearly
3,NEW,"reporter, data, data journalism team",The New York Times,"New York, NY",2024-10-03,"As a data reporter, you’ll combine traditional...",Job types: Full-time\r\nRemote: Hybrid work\r\...,https://www.indeed.com/m/viewjob?jk=435912f3b9...,IndeedScraperUSAEng_435912f3b9db5520,IndeedScraperUSAEng,...,USA_ENGLISH,$111049.64 - $140000 yearly,TEMPORARILY_REMOTE,NY,NY,New York,Uncategorized,$111049.64,$140000,yearly
4,NEW,data solution architect,Corpay,"Dallas, TX",2024-11-05,You have experience in enterprise data modelin...,Job types: Full-time\r\nShifts: 8 hour shift\r...,https://www.indeed.com/m/viewjob?jk=750814a003...,IndeedScraperUSAEng_750814a0033da0e7,IndeedScraperUSAEng,...,USA_ENGLISH,NaN,FULLY_REMOTE,TX,TX,Dallas,Uncategorized,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,NEW,machine learning research scientist,Output Biosciences,"New York, NY",2024-10-09,"You are comfortable working with large, divers...",Job types: Full-time\r\nBenefits: Health insur...,https://www.indeed.com/m/viewjob?jk=db18fca764...,IndeedScraperUSAEng_db18fca764b769d1,IndeedScraperUSAEng,...,USA_ENGLISH,$120000 - $250000 yearly,UNKNOWN,NY,NY,New York,Uncategorized,$120000,$250000,yearly
340,NEW,competitive pricing architect,NTT DATA,"Plano, TX 75086",2024-10-06,"This role oversees pricing for complex, multi-...",NaN,https://www.indeed.com/m/viewjob?jk=7aec3d3abb...,IndeedScraperUSAEng_7aec3d3abb0b0309,IndeedScraperUSAEng,...,USA_ENGLISH,NaN,UNKNOWN,TX 75086,TX,Plano,Uncategorized,NaN,NaN,NaN
341,NEW,data scientist (new york),The Voleon Group,"New York, NY",2024-10-09,Design and implement systems to ensure data co...,Job types: Full-time\r\nRemote: Hybrid work\r\...,https://www.indeed.com/m/viewjob?jk=737db02d03...,IndeedScraperUSAEng_737db02d039f691b,IndeedScraperUSAEng,...,USA_ENGLISH,$150000 - $190000 yearly,TEMPORARILY_REMOTE,NY,NY,New York,Uncategorized,$150000,$190000,yearly
342,NEW,statistician,Outlier,"Raleigh, NC",2024-11-05,Outlier is looking for talented Math Experts t...,"Job types: Contract\r\nJob types cc: Contract,...",https://www.indeed.com/m/viewjob?jk=f28836fcac...,IndeedScraperUSAEng_f28836fcac3347e3,IndeedScraperUSAEng,...,USA_ENGLISH,$30 - $50 hourly,UNKNOWN,NC,NC,Raleigh,Uncategorized,$30,$50,hourly
343,NEW,enterprise integration and data architect,KPMG,"Raleigh, NC",2024-11-01,Facilitate meaningful organizational change by...,Remote: Remote\r\nBenefits: Disability insuran...,https://www.indeed.com/m/viewjob?jk=75d145417c...,IndeedScraperUSAEng_75d145417c1d8e1c,IndeedScraperUSAEng,...,USA_ENGLISH,NaN,FULLY_REMOTE,NC,NC,Raleigh,Uncategorized,NaN,NaN,NaN

In [228]:
manual_labeling_anuja['type'].value_counts()

type
yearly     146
hourly      70
monthly      2
weekly       1
Name: count, dtype: int64

In [229]:
manual_labeling_anuja['lower_wage'] = manual_labeling_anuja['lower_wage'].str.replace('$', '')
manual_labeling_anuja['upper_wage'] = manual_labeling_anuja['upper_wage'].str.replace('$', '')

In [230]:
manual_labeling_anuja

,status,title,company,location,date,blurb,tags,link,id,provider,...,locale,wage,remoteness,state_zip,state,city,job_level,lower_wage,upper_wage,type
0,NEW,credit strategy data scientist,Bill.com,"San Jose, CA",2024-10-03,Demonstrated history of addressing business ch...,"Benefits: Health savings account, Employee sto...",https://www.indeed.com/m/viewjob?jk=d88ba94179...,IndeedScraperUSAEng_d88ba941796f329e,IndeedScraperUSAEng,...,USA_ENGLISH,$110200 - $132100 yearly,UNKNOWN,CA,CA,San Jose,Uncategorized,110200,132100,yearly
1,NEW,database administrator,Om Tek,"Irving, TX 75038",2024-10-05,9am to 6pm; Monday through Friday. JOB DUTIES ...,Job types: Full-time\r\nJob types cc: Full-tim...,https://www.indeed.com/m/viewjob?jk=f2e1c22eab...,IndeedScraperUSAEng_f2e1c22eab5c6a13,IndeedScraperUSAEng,...,USA_ENGLISH,NaN,UNKNOWN,TX 75038,TX,Irving,Uncategorized,NaN,NaN,NaN
2,NEW,data scientist,Apple,"Cupertino, CA",2024-11-10,Deep expertise in data and model evaluation. S...,"Benefits: Employee stock purchase plan, Health...",https://www.indeed.com/m/viewjob?jk=b7898ec674...,IndeedScraperUSAEng_b7898ec674cc9781,IndeedScraperUSAEng,...,USA_ENGLISH,$143100 - $264200 yearly,UNKNOWN,CA,CA,Cupertino,Uncategorized,143100,264200,yearly
3,NEW,"reporter, data, data journalism team",The New York Times,"New York, NY",2024-10-03,"As a data reporter, you’ll combine traditional...",Job types: Full-time\r\nRemote: Hybrid work\r\...,https://www.indeed.com/m/viewjob?jk=435912f3b9...,IndeedScraperUSAEng_435912f3b9db5520,IndeedScraperUSAEng,...,USA_ENGLISH,$111049.64 - $140000 yearly,TEMPORARILY_REMOTE,NY,NY,New York,Uncategorized,111049.64,140000,yearly
4,NEW,data solution architect,Corpay,"Dallas, TX",2024-11-05,You have experience in enterprise data modelin...,Job types: Full-time\r\nShifts: 8 hour shift\r...,https://www.indeed.com/m/viewjob?jk=750814a003...,IndeedScraperUSAEng_750814a0033da0e7,IndeedScraperUSAEng,...,USA_ENGLISH,NaN,FULLY_REMOTE,TX,TX,Dallas,Uncategorized,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,NEW,machine learning research scientist,Output Biosciences,"New York, NY",2024-10-09,"You are comfortable working with large, divers...",Job types: Full-time\r\nBenefits: Health insur...,https://www.indeed.com/m/viewjob?jk=db18fca764...,IndeedScraperUSAEng_db18fca764b769d1,IndeedScraperUSAEng,...,USA_ENGLISH,$120000 - $250000 yearly,UNKNOWN,NY,NY,New York,Uncategorized,120000,250000,yearly
340,NEW,competitive pricing architect,NTT DATA,"Plano, TX 75086",2024-10-06,"This role oversees pricing for complex, multi-...",NaN,https://www.indeed.com/m/viewjob?jk=7aec3d3abb...,IndeedScraperUSAEng_7aec3d3abb0b0309,IndeedScraperUSAEng,...,USA_ENGLISH,NaN,UNKNOWN,TX 75086,TX,Plano,Uncategorized,NaN,NaN,NaN
341,NEW,data scientist (new york),The Voleon Group,"New York, NY",2024-10-09,Design and implement systems to ensure data co...,Job types: Full-time\r\nRemote: Hybrid work\r\...,https://www.indeed.com/m/viewjob?jk=737db02d03...,IndeedScraperUSAEng_737db02d039f691b,IndeedScraperUSAEng,...,USA_ENGLISH,$150000 - $190000 yearly,TEMPORARILY_REMOTE,NY,NY,New York,Uncategorized,150000,190000,yearly
342,NEW,statistician,Outlier,"Raleigh, NC",2024-11-05,Outlier is looking for talented Math Experts t...,"Job types: Contract\r\nJob types cc: Contract,...",https://www.indeed.com/m/viewjob?jk=f28836fcac...,IndeedScraperUSAEng_f28836fcac3347e3,IndeedScraperUSAEng,...,USA_ENGLISH,$30 - $50 hourly,UNKNOWN,NC,NC,Raleigh,Uncategorized,30,50,hourly
343,NEW,enterprise integration and data architect,KPMG,"Raleigh, NC",2024-11-01,Facilitate meaningful organizational change by...,Remote: Remote\r\nBenefits: Disability insuran...,https://www.indeed.com/m/viewjob?jk=75d145417c...,IndeedScraperUSAEng_75d145417c1d8e1c,IndeedScraperUSAEng,...,USA_ENGLISH,NaN,FULLY_REMOTE,NC,NC,Raleigh,Uncategorized,NaN,NaN,NaN

In [231]:
manual_labeling_anuja['lower_wage'] = pd.to_numeric(manual_labeling_anuja['lower_wage'], errors='coerce')
manual_labeling_anuja['upper_wage'] = pd.to_numeric(manual_labeling_anuja['upper_wage'], errors='coerce')

#manual_labeling_anuja

In [232]:
manual_labeling_anuja

,status,title,company,location,date,blurb,tags,link,id,provider,...,locale,wage,remoteness,state_zip,state,city,job_level,lower_wage,upper_wage,type
0,NEW,credit strategy data scientist,Bill.com,"San Jose, CA",2024-10-03,Demonstrated history of addressing business ch...,"Benefits: Health savings account, Employee sto...",https://www.indeed.com/m/viewjob?jk=d88ba94179...,IndeedScraperUSAEng_d88ba941796f329e,IndeedScraperUSAEng,...,USA_ENGLISH,$110200 - $132100 yearly,UNKNOWN,CA,CA,San Jose,Uncategorized,110200.00,132100.0,yearly
1,NEW,database administrator,Om Tek,"Irving, TX 75038",2024-10-05,9am to 6pm; Monday through Friday. JOB DUTIES ...,Job types: Full-time\r\nJob types cc: Full-tim...,https://www.indeed.com/m/viewjob?jk=f2e1c22eab...,IndeedScraperUSAEng_f2e1c22eab5c6a13,IndeedScraperUSAEng,...,USA_ENGLISH,NaN,UNKNOWN,TX 75038,TX,Irving,Uncategorized,NaN,NaN,NaN
2,NEW,data scientist,Apple,"Cupertino, CA",2024-11-10,Deep expertise in data and model evaluation. S...,"Benefits: Employee stock purchase plan, Health...",https://www.indeed.com/m/viewjob?jk=b7898ec674...,IndeedScraperUSAEng_b7898ec674cc9781,IndeedScraperUSAEng,...,USA_ENGLISH,$143100 - $264200 yearly,UNKNOWN,CA,CA,Cupertino,Uncategorized,143100.00,264200.0,yearly
3,NEW,"reporter, data, data journalism team",The New York Times,"New York, NY",2024-10-03,"As a data reporter, you’ll combine traditional...",Job types: Full-time\r\nRemote: Hybrid work\r\...,https://www.indeed.com/m/viewjob?jk=435912f3b9...,IndeedScraperUSAEng_435912f3b9db5520,IndeedScraperUSAEng,...,USA_ENGLISH,$111049.64 - $140000 yearly,TEMPORARILY_REMOTE,NY,NY,New York,Uncategorized,111049.64,140000.0,yearly
4,NEW,data solution architect,Corpay,"Dallas, TX",2024-11-05,You have experience in enterprise data modelin...,Job types: Full-time\r\nShifts: 8 hour shift\r...,https://www.indeed.com/m/viewjob?jk=750814a003...,IndeedScraperUSAEng_750814a0033da0e7,IndeedScraperUSAEng,...,USA_ENGLISH,NaN,FULLY_REMOTE,TX,TX,Dallas,Uncategorized,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,NEW,machine learning research scientist,Output Biosciences,"New York, NY",2024-10-09,"You are comfortable working with large, divers...",Job types: Full-time\r\nBenefits: Health insur...,https://www.indeed.com/m/viewjob?jk=db18fca764...,IndeedScraperUSAEng_db18fca764b769d1,IndeedScraperUSAEng,...,USA_ENGLISH,$120000 - $250000 yearly,UNKNOWN,NY,NY,New York,Uncategorized,120000.00,250000.0,yearly
340,NEW,competitive pricing architect,NTT DATA,"Plano, TX 75086",2024-10-06,"This role oversees pricing for complex, multi-...",NaN,https://www.indeed.com/m/viewjob?jk=7aec3d3abb...,IndeedScraperUSAEng_7aec3d3abb0b0309,IndeedScraperUSAEng,...,USA_ENGLISH,NaN,UNKNOWN,TX 75086,TX,Plano,Uncategorized,NaN,NaN,NaN
341,NEW,data scientist (new york),The Voleon Group,"New York, NY",2024-10-09,Design and implement systems to ensure data co...,Job types: Full-time\r\nRemote: Hybrid work\r\...,https://www.indeed.com/m/viewjob?jk=737db02d03...,IndeedScraperUSAEng_737db02d039f691b,IndeedScraperUSAEng,...,USA_ENGLISH,$150000 - $190000 yearly,TEMPORARILY_REMOTE,NY,NY,New York,Uncategorized,150000.00,190000.0,yearly
342,NEW,statistician,Outlier,"Raleigh, NC",2024-11-05,Outlier is looking for talented Math Experts t...,"Job types: Contract\r\nJob types cc: Contract,...",https://www.indeed.com/m/viewjob?jk=f28836fcac...,IndeedScraperUSAEng_f28836fcac3347e3,IndeedScraperUSAEng,...,USA_ENGLISH,$30 - $50 hourly,UNKNOWN,NC,NC,Raleigh,Uncategorized,30.00,50.0,hourly
343,NEW,enterprise integration and data architect,KPMG,"Raleigh, NC",2024-11-01,Facilitate meaningful organizational change by...,Remote: Remote\r\nBenefits: Disability insuran...,https://www.indeed.com/m/viewjob?jk=75d145417c...,IndeedScraperUSAEng_75d145417c1d8e1c,IndeedScraperUSAEng,...,USA_ENGLISH,NaN,FULLY_REMOTE,NC,NC,Raleigh,Uncategorized,NaN,NaN,NaN

In [233]:
#convert all values to yearly
def salary_conversion_lower(row):
    type = str(row['type']) 
    lower_wage = row['lower_wage']
    #upper_wage

    if type == 'hourly':
        return lower_wage*2080
    elif type == 'weekly':
        return lower_wage*52
    elif type == 'monthly':
        return lower_wage*12
    else: 
        return lower_wage

# Apply the labeling function
manual_labeling_anuja['converted_yearly_lower'] = manual_labeling_anuja.apply(salary_conversion_lower, axis=1)

In [234]:
manual_labeling_anuja

,status,title,company,location,date,blurb,tags,link,id,provider,...,wage,remoteness,state_zip,state,city,job_level,lower_wage,upper_wage,type,converted_yearly_lower
0,NEW,credit strategy data scientist,Bill.com,"San Jose, CA",2024-10-03,Demonstrated history of addressing business ch...,"Benefits: Health savings account, Employee sto...",https://www.indeed.com/m/viewjob?jk=d88ba94179...,IndeedScraperUSAEng_d88ba941796f329e,IndeedScraperUSAEng,...,$110200 - $132100 yearly,UNKNOWN,CA,CA,San Jose,Uncategorized,110200.00,132100.0,yearly,110200.00
1,NEW,database administrator,Om Tek,"Irving, TX 75038",2024-10-05,9am to 6pm; Monday through Friday. JOB DUTIES ...,Job types: Full-time\r\nJob types cc: Full-tim...,https://www.indeed.com/m/viewjob?jk=f2e1c22eab...,IndeedScraperUSAEng_f2e1c22eab5c6a13,IndeedScraperUSAEng,...,NaN,UNKNOWN,TX 75038,TX,Irving,Uncategorized,NaN,NaN,NaN,NaN
2,NEW,data scientist,Apple,"Cupertino, CA",2024-11-10,Deep expertise in data and model evaluation. S...,"Benefits: Employee stock purchase plan, Health...",https://www.indeed.com/m/viewjob?jk=b7898ec674...,IndeedScraperUSAEng_b7898ec674cc9781,IndeedScraperUSAEng,...,$143100 - $264200 yearly,UNKNOWN,CA,CA,Cupertino,Uncategorized,143100.00,264200.0,yearly,143100.00
3,NEW,"reporter, data, data journalism team",The New York Times,"New York, NY",2024-10-03,"As a data reporter, you’ll combine traditional...",Job types: Full-time\r\nRemote: Hybrid work\r\...,https://www.indeed.com/m/viewjob?jk=435912f3b9...,IndeedScraperUSAEng_435912f3b9db5520,IndeedScraperUSAEng,...,$111049.64 - $140000 yearly,TEMPORARILY_REMOTE,NY,NY,New York,Uncategorized,111049.64,140000.0,yearly,111049.64
4,NEW,data solution architect,Corpay,"Dallas, TX",2024-11-05,You have experience in enterprise data modelin...,Job types: Full-time\r\nShifts: 8 hour shift\r...,https://www.indeed.com/m/viewjob?jk=750814a003...,IndeedScraperUSAEng_750814a0033da0e7,IndeedScraperUSAEng,...,NaN,FULLY_REMOTE,TX,TX,Dallas,Uncategorized,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,NEW,machine learning research scientist,Output Biosciences,"New York, NY",2024-10-09,"You are comfortable working with large, divers...",Job types: Full-time\r\nBenefits: Health insur...,https://www.indeed.com/m/viewjob?jk=db18fca764...,IndeedScraperUSAEng_db18fca764b769d1,IndeedScraperUSAEng,...,$120000 - $250000 yearly,UNKNOWN,NY,NY,New York,Uncategorized,120000.00,250000.0,yearly,120000.00
340,NEW,competitive pricing architect,NTT DATA,"Plano, TX 75086",2024-10-06,"This role oversees pricing for complex, multi-...",NaN,https://www.indeed.com/m/viewjob?jk=7aec3d3abb...,IndeedScraperUSAEng_7aec3d3abb0b0309,IndeedScraperUSAEng,...,NaN,UNKNOWN,TX 75086,TX,Plano,Uncategorized,NaN,NaN,NaN,NaN
341,NEW,data scientist (new york),The Voleon Group,"New York, NY",2024-10-09,Design and implement systems to ensure data co...,Job types: Full-time\r\nRemote: Hybrid work\r\...,https://www.indeed.com/m/viewjob?jk=737db02d03...,IndeedScraperUSAEng_737db02d039f691b,IndeedScraperUSAEng,...,$150000 - $190000 yearly,TEMPORARILY_REMOTE,NY,NY,New York,Uncategorized,150000.00,190000.0,yearly,150000.00
342,NEW,statistician,Outlier,"Raleigh, NC",2024-11-05,Outlier is looking for talented Math Experts t...,"Job types: Contract\r\nJob types cc: Contract,...",https://www.indeed.com/m/viewjob?jk=f28836fcac...,IndeedScraperUSAEng_f28836fcac3347e3,IndeedScraperUSAEng,...,$30 - $50 hourly,UNKNOWN,NC,NC,Raleigh,Uncategorized,30.00,50.0,hourly,62400.00
343,NEW,enterprise integration and data architect,KPMG,"Raleigh, NC",2024-11-01,Facilitate meaningful organizational change by...,Remote: Remote\r\nBenefits: Disability insuran...,https://www.indeed.com/m/viewjob?jk=75d145417c...,IndeedScraperUSAEng_75d145417c1d8e1c,IndeedScraperUSAEng,...,NaN,FULLY_REMOTE,NC,NC,Raleigh,Uncategorized,NaN,NaN,NaN,NaN

In [235]:
#convert all values to yearly
def salary_conversion_upper(row):
    type = str(row['type']) 
    upper_wage = row['upper_wage']
    #upper_wage

    if type == 'hourly':
        return upper_wage*2080
    elif type == 'weekly':
        return upper_wage*52
    elif type == 'monthly':
        return upper_wage*12
    else: 
        return upper_wage

# Apply the labeling function
manual_labeling_anuja['converted_yearly_upper'] = manual_labeling_anuja.apply(salary_conversion_upper, axis=1)

In [236]:
manual_labeling_anuja.head()

,status,title,company,location,date,blurb,tags,link,id,provider,...,remoteness,state_zip,state,city,job_level,lower_wage,upper_wage,type,converted_yearly_lower,converted_yearly_upper
0,NEW,credit strategy data scientist,Bill.com,"San Jose, CA",2024-10-03,Demonstrated history of addressing business ch...,"Benefits: Health savings account, Employee sto...",https://www.indeed.com/m/viewjob?jk=d88ba94179...,IndeedScraperUSAEng_d88ba941796f329e,IndeedScraperUSAEng,...,UNKNOWN,CA,CA,San Jose,Uncategorized,110200.00,132100.0,yearly,110200.00,132100.0
1,NEW,database administrator,Om Tek,"Irving, TX 75038",2024-10-05,9am to 6pm; Monday through Friday. JOB DUTIES ...,Job types: Full-time\r\nJob types cc: Full-tim...,https://www.indeed.com/m/viewjob?jk=f2e1c22eab...,IndeedScraperUSAEng_f2e1c22eab5c6a13,IndeedScraperUSAEng,...,UNKNOWN,TX 75038,TX,Irving,Uncategorized,NaN,NaN,NaN,NaN,NaN
2,NEW,data scientist,Apple,"Cupertino, CA",2024-11-10,Deep expertise in data and model evaluation. S...,"Benefits: Employee stock purchase plan, Health...",https://www.indeed.com/m/viewjob?jk=b7898ec674...,IndeedScraperUSAEng_b7898ec674cc9781,IndeedScraperUSAEng,...,UNKNOWN,CA,CA,Cupertino,Uncategorized,143100.00,264200.0,yearly,143100.00,264200.0
3,NEW,"reporter, data, data journalism team",The New York Times,"New York, NY",2024-10-03,"As a data reporter, you’ll combine traditional...",Job types: Full-time\r\nRemote: Hybrid work\r\...,https://www.indeed.com/m/viewjob?jk=435912f3b9...,IndeedScraperUSAEng_435912f3b9db5520,IndeedScraperUSAEng,...,TEMPORARILY_REMOTE,NY,NY,New York,Uncategorized,111049.64,140000.0,yearly,111049.64,140000.0
4,NEW,data solution architect,Corpay,"Dallas, TX",2024-11-05,You have experience in enterprise data modelin...,Job types: Full-time\r\nShifts: 8 hour shift\r...,https://www.indeed.com/m/viewjob?jk=750814a003...,IndeedScraperUSAEng_750814a0033da0e7,IndeedScraperUSAEng,...,FULLY_REMOTE,TX,TX,Dallas,Uncategorized,NaN,NaN,NaN,NaN,NaN

In [237]:
#manual_labeling_anuja[manual_labeling_anuja['type'].str.contains('monthly')]
#manual_labeling_anuja.loc[manual_labeling_anuja['type'] == 'hourly']

##### Manually label jobs

In [238]:
labeled = manual_labeling_anuja.copy()

In [266]:
# Define keywords for job levels
entry_keywords = ['integrity', 'programmer', 'statistical', 'statistician', 'collection', 'admin', 'agent', 'early', 'analytics', ' 2', 'designer', 'administrator', ' i ','staff', 'dba', 'junior', 'assistant', 'entry', 'graduate', 'intern', 'trainee', 'aide','collector','technician' ]
mid_keywords = ['warehousing','migration', 'migrations', 'big data', 'machine learning', 'ai', 'data scientist', 'steward', ' ii','mid', 'associate', 'specialist', 'coordinator', 'analyst', 'engineer', 'developer']
senior_keywords = ['advisor', 'founding', 'product', 'vp,', 'vp ', 'architect', 'mentor', 'supervisor', 'sr. ','head ','sr ', 'president', ' iii','senior', 'lead', 'manager', 'director', 'principal', 'executive', 'chief']

# Function to label job levels based on the title and blurb
def label_job_level(row):
    title = str(row['title']).lower()
    blurb = str(row['blurb']).lower()
    
    # if job_level == 'Entry-Level' or job_level == 'Mid-Level' or job_level == 'Senior-Level':
    #     return str(row('job_level'))
    if any(keyword in title or keyword in blurb for keyword in senior_keywords):
        return 'Senior-Level'
    elif any(keyword in title or keyword in blurb for keyword in mid_keywords):
        return 'Mid-Level'
    elif any(keyword in title or keyword in blurb for keyword in entry_keywords):
        return 'Entry-Level'
    else:
        return 'Uncategorized'

# Apply the labeling function
labeled['job_level'] = labeled.apply(label_job_level, axis=1)

# Count job levels for an overview
job_level_counts = labeled['job_level'].value_counts()
job_level_counts

job_level
Mid-Level        170
Senior-Level      85
Uncategorized     49
Entry-Level       40
Name: count, dtype: int64

In [240]:
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns

In [241]:
#check rows with key words
#uncat[uncat['title'].str.contains('data scientist')]

In [242]:
#labeled

In [243]:
# unlabeled = labeled.loc[labeled['job_level'] == 'Uncategorized']
# unlabeled

In [267]:
labeled.loc[(labeled['job_level'] == 'Uncategorized') & (labeled['converted_yearly_lower'] < 100000), 'job_level'] = 'Entry-Level'

labeled.loc[(labeled['job_level'] == 'Uncategorized') & (labeled['converted_yearly_lower'] >= 100000) & (labeled['converted_yearly_lower'] <=200000), 'job_level'] = 'Mid-Level'

labeled.loc[(labeled['job_level'] == 'Uncategorized') & (labeled['converted_yearly_upper'] > 200000), 'job_level'] = 'Senior-Level'

In [245]:
#labeled

In [268]:
labeled['job_level'].value_counts()

job_level
Mid-Level        183
Senior-Level      86
Entry-Level       64
Uncategorized     11
Name: count, dtype: int64

In [269]:
labeled.loc[labeled['id'] == 'IndeedScraperUSAEng_f892ffa2ae4dacfa', 'job_level'] = 'Mid-Level'
labeled.loc[labeled['id'] == 'IndeedScraperUSAEng_ef4d8e0621df2639', 'job_level'] = 'Senior-Level'
labeled.loc[labeled['id'] == 'IndeedScraperUSAEng_bf89aab66e2738dc', 'job_level'] = 'Entry-Level'
labeled.loc[labeled['id'] == 'IndeedScraperUSAEng_8b1beac98b290dee', 'job_level'] = 'Mid-Level'
labeled.loc[labeled['id'] == 'IndeedScraperUSAEng_d7d7a7933066fb9c', 'job_level'] = 'Entry-Level'
labeled.loc[labeled['id'] == 'IndeedScraperUSAEng_da5c22d29e998aec', 'job_level'] = 'Entry-Level'
labeled.loc[labeled['id'] == 'IndeedScraperUSAEng_60f5216cbc47839a', 'job_level'] = 'Mid-Level'

labeled.loc[labeled['id'] == 'IndeedScraperUSAEng_d7d7a7933066fb9c', 'job_level'] = 'Entry-Level'
labeled.loc[labeled['id'] == 'IndeedScraperUSAEng_88c02262ff651d71', 'job_level'] = 'Entry-Level'
labeled.loc[labeled['id'] == 'IndeedScraperUSAEng_4d351c5574213a69', 'job_level'] = 'Entry-Level'
labeled.loc[labeled['id'] == 'IndeedScraperUSAEng_f34af3c0d4cf35c7', 'job_level'] = 'Entry-Level'

In [270]:
labeled['job_level'].value_counts()

job_level
Mid-Level        186
Senior-Level      87
Entry-Level       70
Uncategorized      1
Name: count, dtype: int64

In [248]:
#labeled_uncat[labeled_uncat['title'].str.contains('big data')]

In [271]:
labeled.loc[labeled['job_level'] == 'Uncategorized']

,status,title,company,location,date,blurb,tags,link,id,provider,query,locale,wage,remoteness,state_zip,state,city,job_level,lower_wage,upper_wage,type,converted_yearly_lower,converted_yearly_upper
148,NEW,registered nurse (rn),Ana-Data Consulting Inc,"Bristol, PA 19007",2024-11-09,*Job Title:* Registered Nurse - ICU / ER / Cat...,"Job types: Contract\r\nShifts: Night shift, Da...",https://www.indeed.com/m/viewjob?jk=6ae8c8396a...,IndeedScraperUSAEng_6ae8c8396a3e19fa,IndeedScraperUSAEng,Data,USA_ENGLISH,NaN,UNKNOWN,PA 19007,PA,Bristol,Uncategorized,NaN,NaN,NaN,NaN,NaN

In [273]:
#clean up the wage column
len(labeled)

344

In [ ]:
labeled_anuja.to_csv("crowdsource_sai.csv", index=False)